@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 96%);
    margin: 0;
    font-family: "DM Sans", sans-serif;
    display: grid;
    place-content: center;
    letter-spacing: -1px;
}

.cards {
    max-width: 1140px;
    display: grid;
    grid-template-areas:
        "card-1 card-3 card-3 card-6"
        "card-1 card-3 card-3 card-6"
        "card-1 card-3 card-3 card-6"
        "card-1 card-3 card-3 card-6"
        "card-1 card-4 card-7 card-6"
        "card-2 card-4 card-7 card-6"
        "card-2 card-4 card-7 card-6"
        "card-2 card-5 card-8 card-8"
        "card-2 card-5 card-8 card-8"
        "card-2 card-5 card-8 card-8";
    gap: 2rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: 75px;
}

.card {
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.cards img {
    width: 100%;
    display: block;
}

.card-1 {
    grid-area: card-1;
    background-color: rgb(250, 237, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start center;
}

.card-1 h2 {
    font-size: 2.5rem;
}

.card-1 span {
    color: rgb(114, 87, 222);
}

.card-2 {
    grid-area: card-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(255, 205, 105);

}

.card-2 img {
    width: 100%;
}

.card-2 h2 {
    font-size: 1.5rem;
}


.card-3 {
    grid-area: card-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 81, 219);
    text-align: center;
    color: azure;
}

.card-3 h1 {
    font-size: 3rem;
}

.card-3 span {
    color: rgb(255, 205, 105);
}

.card-3 img {
    margin-top: 1.5rem;
    width: 50%;
}

.card-3 p {
    color: rgba(250, 250, 250, 0.7);
    margin-top: 1.5rem;
}

.card-4 {
    grid-area: card-4;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #fff;
}

.card-4 h2 {
    font-size: 1.2rem;
}

.card-5 {
    grid-area: card-5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #fff;
}

.card-5 h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.card-5 p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.5rem;
}

.card-5 img {
    width: 80%;
}

.card-6 {
    grid-area: card-6;
    background-color: rgb(174, 155, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.card-6 h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.card-6 img {
    margin-bottom: 1rem;
    position: absolute;
}

.card-6 p {
    font-size: 18px;
}

.card-7 {
    grid-area: card-7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 205, 105);
    position: relative;
}

.card-7 h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    line-height: 1;
}

.card-7 img {
    position: absolute;
    width: 80%;
    top: 60%;

}

.card-8 {
    grid-area: card-8;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    background-color: rgb(118, 81, 219);
    color: azure;
}

.card-8 h2 {
    font-size: 2.5rem;
    margin-left: 1.5rem;
}


@media (max-width: 768px) {
    .cards img {
        width: 50%;
    }

    .cards {
        padding: 1rem;
        overflow: visible;
        min-height: 100vh;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: "card-3"
            "card-4"
            "card-7"
            "card-2"
            "card-5"
            "card-1"
            "card-6"
            "card-8";
        gap: 1rem;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-6 img {
        position: unset;
    }
}
